{% extends 'blog/base.html' %}


{% block content %}
		<article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
          <div class="article-metadata">
          <a class="mr-2" href="#">{{post.category.name}}</a>Posted by
            <a class="mr-2" href="#">{{ post.author }}</a>on
            <a class="mr-2"> {{ post.posted_time|date:"F, Y" }}</a>
            <a href="#"> 0 </a>comments
          </div>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update' post.id %}">Update</a>
            </div>
          {% endif %}
          <p class="article-content">{{ post.content|safe }}</p>
        </div>
    </article>
{% endblock %}

{% block toc %}
<div class="content-section ">
  <div class="widget widget-content">
  <h3 class="widget-title">Table of Content</h3>
  {{ post.toc|safe }}
</div> 
</div>


{% endblock %}